@import "../../../../styles/mixin";
@import "../../../../styles/variables";
@import "../../../../styles/typography";
    
.header {
  display: grid;
  margin: 20px 0;
  text-align: center;
  @include rem("gap", 5);

  @include min-breakpoint($devices-sm) {
    justify-content: center;
  }

  @include breakpoint($devices-sm) {
    margin-bottom: 0px;
  }

  &__text {
    display: grid;
    .--large {
      @extend %header-l;
    }

    @include breakpoint($devices-sm) {
      text-align: left;
      justify-content: flex-start;
    }
  }

  &__logo {
    display: flex;
    &__colour {
      width: 6vw;
      min-width: 25px;
      max-width: 100px;
      @include min-breakpoint($devices-sm) {
        width: 8vw;
        min-width: 60px;
      }
      @include rem("height", 5);
    }
  }
}
