<a target="_blank" href="https://www.goodreads.com/{{book.goodReadsLink}}" class="card">
  <div
    class="card__image"
    [ngStyle]="{ backgroundColor: book.bookCoverBgColour }"
  >
    <img
      class="book-img"
      [src]="book.bookCoverLowRes"
    />
  </div>
  <div class="card__text">
    <div class="card__text__title">{{ book.title }}</div>
    <div class="card__text__author">
      <span>{{ authorNames(book.authors) }}</span>
      <!-- <span *ngFor="let author of book.authors">{{ author.authorName }}</span> -->
    </div>
  </div>
</a>
