<div class="card">
  <div
    class="card__image"
    [ngStyle]="{ backgroundColor: book.bookCoverBgColour }"
  >
    <div *ngIf="isLoadingImage" class="book-imag skeleton-img"></div>
    <img *ngIf="!isLoadingImage" class="book-img" [src]="coverImageBlobUrl" />
    <!-- <img class="book-img" [src]="book.bookCoverLowRes" loading="lazy" /> -->

  </div>
  <div class="card__text">
    <div class="card__text__title">{{ book.title }}</div>
    <div class="card__text__author">
      <span>{{ authorNames(book.authors) }}</span>
      <!-- <span *ngFor="let author of book.authors">{{ author.authorName }}</span> -->
    </div>
  </div>
</div>
