<div class="sapphic container">
  <div class="sapphic__row container__row">
    <div class="header">
      <div class="header__text">Sapphic Book Club</div>
      <div class="header__logo">
        <div class="header__logo__colour --blue-bg"></div>
        <div class="header__logo__colour --pink-bg"></div>
        <div class="header__logo__colour --yellow-bg"></div>
        <div class="header__logo__colour --green-bg"></div>
        <div class="header__logo__colour --purple-bg"></div>
      </div>
    </div>
  </div>
  <div class="sapphic__row container__row">
    <div class="filter">
      <div class="filter__header">Genres</div>
      <div class="filter__genre">
        <div class="filter__genre__tag --light-blue-bg">Fantasy</div>
        <div class="filter__genre__tag --jaded-yellow-bg">Science Fiction</div>
        <div class="filter__genre__tag --light-green-bg">Romance</div>
        <div class="filter__genre__tag --light-orange-bg">Historical</div>
        <div class="filter__genre__tag --light-yellow-bg">Contemporary</div>
        <div class="filter__genre__tag --light-turqouise-bg">Horror</div>
        <div class="filter__genre__tag --light-purple-bg">Crime</div>
        <div class="filter__genre__tag --light-pink-bg">Thriller</div>
      </div>
    </div>
  </div>
  <div class="sapphic__row container__row">
    <div class="books">
      <div class="books__header">Books</div>
      <div class="books__list">
        <div class="books__list__book">
          <div class="books__list__book__image" style="background-color: #DEE8B2;">
            <img class="book-img" width="100%" height="auto" src="./../../../assets/images/a long to a small angry planet.png" alt="" />
          </div>
          <div class="books__list__book__text">
            <div class="books__list__book__text__title">The Long Way to a Small Angry Planet</div>
            <div class="books__list__book__text__author">Becky Chambers</div>
          </div>
        </div>
        <div class="books__list__book">
          <div class="books__list__book__image" style="background-color: #F0E6C2;">
            <img class="book-img" width="100%" height="auto" src="./../../../assets/images/a memory called palace.png" alt="" />
          </div>
          <div class="books__list__book__text">
            <div class="books__list__book__text__title">A Memory Called Empire</div>
            <div class="books__list__book__text__author">Arkady Martine</div>
          </div>
        </div>
        <div class="books__list__book">
          <div class="books__list__book__image" style="background-color: #B0AB8D;">
            <img class="book-img" width="100%" height="auto" src="./../../../assets/images/crier's wolf.png" alt="" />
          </div>
          <div class="books__list__book__text">
            <div class="books__list__book__text__title">Crier's Wolf</div>
            <div class="books__list__book__text__author">Nina Varela</div>
          </div>
        </div>
        <div class="books__list__book">
          <div class="books__list__book__image" style="background-color: #FFC088;">
            <img class="book-img" width="100%" height="auto" src="./../../../assets/images/foundryside.png" alt="" />
          </div>
          <div class="books__list__book__text">
            <div class="books__list__book__text__title">Foundryside</div>
            <div class="books__list__book__text__author">Robert Jackson Bennett</div>
          </div>
        </div>
        <div class="books__list__book">
          <div class="books__list__book__image" style="background-color: #C76A3D;">
            <img class="book-img" width="100%" height="auto" src="./../../../assets/images/gideon the ninth.png" alt="" />
          </div>
          <div class="books__list__book__text">
            <div class="books__list__book__text__title">Gideon the Ninth</div>
            <div class="books__list__book__text__author">Tamsyn Muir</div>
          </div>
        </div>
        <div class="books__list__book">
          <div class="books__list__book__image" style="background-color: #F1E1BD;">
            <img class="book-img" width="100%" height="auto" src="./../../../assets/images/the atlas six.png" alt="" />
          </div>
          <div class="books__list__book__text">
            <div class="books__list__book__text__title">The Atlas Six</div>
            <div class="books__list__book__text__author">Olivie Blake</div>
          </div>
        </div>
        <div class="books__list__book">
          <div class="books__list__book__image" style="background-color: #BDC2C6;">
            <img class="book-img" width="100%" height="auto" src="./../../../assets/images/the city we became.png" alt="" />
          </div>
          <div class="books__list__book__text">
            <div class="books__list__book__text__title">The City We Became</div>
            <div class="books__list__book__text__author">N.K. Jemisin</div>
          </div>
        </div>
        <div class="books__list__book">
          <div class="books__list__book__image" style="background-color: #F88F8D;">
            <img class="book-img" width="100%" height="auto" src="./../../../assets/images/the empress of salt and fortune.png" alt="" />
          </div>
          <div class="books__list__book__text">
            <div class="books__list__book__text__title">The Empress of Salt and Fortune</div>
            <div class="books__list__book__text__author">Nghi Vo</div>
          </div>
        </div>
        <div class="books__list__book">
          <div class="books__list__book__image" style="background-color: #E7E1A6;">
            <img class="book-img" width="100%" height="auto" src="./../../../assets/images/the mercies.png" alt="" />
          </div>
          <div class="books__list__book__text">
            <div class="books__list__book__text__title">The Mercies</div>
            <div class="books__list__book__text__author">Kiran Millwood Hargrave</div>
          </div>
        </div>
        <div class="books__list__book">
          <div class="books__list__book__image" style="background-color: #AFC384;">
            <img class="book-img" width="100%" height="auto" src="./../../../assets/images/the midnight lie.png" alt="" />
          </div>
          <div class="books__list__book__text">
            <div class="books__list__book__text__title">The Midnight Lie</div>
            <div class="books__list__book__text__author">Marie Rutkoski</div>
          </div>
        </div>
        <div class="books__list__book">
          <div class="books__list__book__image" style="background-color: #FFBE3C;">
            <img class="book-img" width="100%" height="auto" src="./../../../assets/images/the priory of the orange tree.png" alt="" />
          </div>
          <div class="books__list__book__text">
            <div class="books__list__book__text__title">The Priory of the Orange Tree</div>
            <div class="books__list__book__text__author">Samantha Shannon</div>
          </div>
        </div>
        <div class="books__list__book">
          <div class="books__list__book__image" style="background-color: #97AFD6;">
            <img class="book-img" width="100%" height="auto" src="./../../../assets/images/this is how you lose the time war cover.png" alt="" />
          </div>
          <div class="books__list__book__text">
            <div class="books__list__book__text__title">This is How You Lose the Time War</div>
            <div class="books__list__book__text__author">Amal El-Mohtar & Max Gladstone</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sapphic__row container__row">Footer</div>
</div>
