<div class="dialog">
  <div class="dialog__body">
    <!-- <div class="hi-wrapper">
      <div class="hi-wrapper__hi"></div>
    </div> -->
    <div class="dialog__body__item --align-start">
      Hi friends, thanks for visiting!
    </div>
    <div class="dialog__body__item">
      This space was created to showcase books feature wlw/nblw characters from
      all different genres.
    </div>
    <div class="">
      It is still a work in progress, and you can follow the updates
      <a href="https://sbc-app.tumblr.com/" target="_blank" class="link"><span class="link__text">here</span></a>.
    </div>
    <div class="dialog__body__item bone-joke">
      Also, we do bones.
      <div class="icon">
        <div class="bone"></div>
      </div>
    </div>
  </div>
  <div class="dialog__footer">
    <sbc-button text="Proceed" type="primary" (onClick)="onCloseClick()"></sbc-button>
  </div>
</div>
