@keyframes move {
  100% {
    background-position: 500px 0;
  }
}

@keyframes rotate {
  25% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
