// * FONT SIZES
$H1-sm: 1.25rem; // 20px
$H1-m: 1.5rem; // 24px
$H1: 2rem; // 32px

$H2-sm: 1.125rem; // 18px
$H2-m: 1.25rem; // 20px;
$H2: 1.5rem; // 24px

$very-tiny: 1rem;
$tiny: 1.2rem;
$small: 1.4rem;
$medium: 1.6rem;
$large: 1.8rem;

$v-large: 32;
$large: 24;
$medium: 20;
$small: 18;
$v-small: 16;

$mouse: 12px;
$squirrel: 14px;
$cat: 16px;
$wolf: 18px;
$bear: 20px;
$elephant: 24px;
$whale: 32px;

$mouse-space: 5px;
$squirrel-space: 15px;
$cat-space: 20px;
$whale-space: 75px;
// $wolf
// $bear
// $elephant
// $whale



// * SCREEN SIZES
$devices-sm: 426;
$devices-sml: 769;
$devices-m: 1025;
$devices-ml: 1441;
$devices-large: 1440;

// * COLOURS
$gray : #F4F4F4;

$blue: #97AFD6;
$pink: #F88F8D;
$yellow: #FFC088;
$green: #C3D0A8;
$purple: #E9C1F0;

$light-pink: #F4A696;
$light-blue: #BBCDEA;
$jaded-yellow: #E8DD89;
$light-green: #C3D0A8;
$light-orange: #FFC088;
$light-yellow: #F0E6C2;
$light-turqouise: #ABE3E8;
$light-purple: #E9C1F0;