<div class="footer">
  <div class="footer__line">
    <div class="footer__line__colour --blue-bg"></div>
    <div class="footer__line__colour --pink-bg"></div>
    <div class="footer__line__colour --yellow-bg"></div>
    <div class="footer__line__colour --green-bg"></div>
    <div class="footer__line__colour --purple-bg"></div>
  </div>
  <div class="footer__links">
    <div class="footer__links__item --style1">
      <div class="footer__links__item__icon">
        <mat-icon class="">question_answer</mat-icon>
      </div>
    </div>
    <div class="footer__links__item --style2">
      <div class="footer__links__item__icon">
        <div class="tumblr"></div>
      </div>
    </div>
  </div>
  <div class="footer__madeby">
    <div>You're telling me a queer coded this?</div>
    <div class="">
      <a target="_blank" href="https://github.com/seven-dillenia"
        >Seven Dillenia <3</a
      >
    </div>
  </div>
</div>
