<div class="footer">
  <div class="footer__line">
    <div class="footer__line__colour --blue-bg"></div>
    <div class="footer__line__colour --pink-bg"></div>
    <div class="footer__line__colour --yellow-bg"></div>
    <div class="footer__line__colour --green-bg"></div>
    <div class="footer__line__colour --purple-bg"></div>
  </div>
  <div class="footer__links">
    <a
      target="_blank"
      href="https://docs.google.com/forms/d/e/1FAIpQLSessl7EiTbCdAtqP0CZzQdehfjyjHtA7TIIdIarMqfqaZ0rQA/viewform?usp=sf_link"
      class="footer__links__item --style1"
      matTooltip="Feedback"
      matTooltipClass="example-tooltip-red"
      aria-label="Feedback"
      matTooltipPosition="below"
    >
      <div class="footer__links__item__icon">
        <mat-icon class="">question_answer</mat-icon>
      </div>
    </a>
    <a
      target="_blank"
      href="https://sb-club.tumblr.com/"
      class="footer__links__item --style2"
      matTooltip="Updates"
      matTooltipClass="example-tooltip-red"
      aria-label="Updates"
      matTooltipPosition="below"
    >
      <div class="footer__links__item__icon">
        <div class="tumblr"></div>
      </div>
    </a>
  </div>
  <div class="footer__madeby">
    <div>You're telling me a queer coded this?</div>
    <sbc-link
      text="Seven Dillenia <3"
      href="https://github.com/seven-dillenia"
      [textHeight]="15"
    ></sbc-link>
  </div>
</div>
