/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "./assets/styles/mixins/mixin";
@import "./assets/styles/variables";
@import "./assets/styles/global";

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: $gray;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  @include rem("gap", 20);
  @include rem("padding-left", 60);
  @include rem("padding-right", 60);
  @include rem("padding-top", 20);
  width: calc(100% - 120px);
  max-width: 1980px;

  @include breakpoint(1125) {
    @include rem("padding-left", 40);
    @include rem("padding-right", 40);
    width: calc(100% - 80px);
  }

  @include breakpoint(810) {
    @include rem("padding-left", 20);
    @include rem("padding-right", 20);
    width: calc(100% - 40px);
  }

  &__row {
    display: grid;
  }
}

.header {
  display: grid;
  @include rem("gap", 5);
  justify-content: center;
  &__text {
    text-align: center;
    font-weight: 600;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    @include min-breakpoint(1440) {
      @include rem("font-size", 36);
    }
  }

  &__logo {
    display: flex;
    &__colour {
      width: 6vw;
      min-width: 55px;
      @include rem("height", 8);
    }
  }
}

.filter {
  display: grid;
  @include rem("gap", 5);
  &__header {
    @extend %sm-header;
  }

  &__genre {
    display: flex;
    flex-wrap: wrap;
    @include rem("gap", 10);

    &__tag {
      @include rem("font-size", 14);
      padding: 5px 25px 5px 25px;
      background-color: #e5e5e5;
      cursor: pointer;
      position: relative;

      @include breakpoint(768) {
        @include rem("font-size", 12);
      }

      &__text {
        @include rem("font-size", 14);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        text-align: center;
        pointer-events: none;

        @include breakpoint(768) {
          @include rem("font-size", 12);
        }

        transition: font-size 0.3s;
      }

      &.--active {
        @extend %inherit-bg;
      }
      transition: all 0.3s;
    }

    &__tag:hover > :last-child {
      @include rem("font-size", 16);
    }

    &__tag:hover {
      @extend %inherit-bg;
    }
  }
}

.books {
  display: grid;
  @include rem("gap", 5);
  // @include rem("margin-top", 20);

  &__header {
    @extend %sm-header;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2vw;
    column-gap: 4vw;

    @include min-breakpoint(1981) {
      @include rem("row-gap", 100);
      @include rem("column-gap", 75);
    }

    @include breakpoint(1320) {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 2.5vw;
      column-gap: 5vw;
    }

    @include breakpoint(810) {
      row-gap: 1.5vw;
      column-gap: 3vw;
    }

    @include breakpoint(730) {
      row-gap: 3vw;
      column-gap: 3vw;
    }

    @include breakpoint(530) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 5vw;
      column-gap: 5vw;
    }

    &__book {
      display: grid;
      grid-auto-rows: minmax(min-content, max-content);
      position: relative;
      gap: 5px;
      cursor: pointer;

      &__image {
        display: flex;
        justify-content: center;
        padding: 4vw;

        @include min-breakpoint(1981) {
          @include rem("padding", 75);
        }

        @include breakpoint(1320) {
          padding: 5.3vw;
        }

        @include breakpoint(530) {
          padding: 8vw;
        }
      }

      &__text {
        overflow: hidden;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        &__title {
          font-weight: 600;
          font-size: clamp(.9rem, 1.03vw, 1.15rem);

          @include breakpoint(768) {
            @include rem("font-size", 13);
          }
        }

        &__author {
          font-weight: 300;
          @include rem("font-size", 14);
          @include breakpoint(768) {
            @include rem("font-size", 12);
          }
        }
      }
    }

    &__book:hover > .books__list__book__image > .book-img {
      transform: scale(1.2);
    }
  }
}

.book-img {
  object-fit: contain;
  box-shadow: 5px 6px 7px 0px #0000007a;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);

  filter: none;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');

  transition: all 0.3s;
}
