$gray : #F4F4F4;

$blue: #97AFD6;
$pink: #F88F8D;
$yellow: #FFC088;
$green: #C3D0A8;
$purple: #E9C1F0;

$light-pink: #F4A696;
$light-blue: #BBCDEA;
$jaded-yellow: #E8DD89;
$light-green: #C3D0A8;
$light-orange: #FFC088;
$light-yellow: #F0E6C2;
$light-turqouise: #ABE3E8;
$light-purple: #E9C1F0;